{% extends 'layout/app.html'%}

{% block body %}

{% for depute in deputes %}

{% if depute['depute']['id'] == depute_selected %}



<div class="container mt-4 ">

    <section>


        <div class="card mb-3 profil">
            <div class="row g-0">
                <div class="col-md-4 image-placement">
                    <img src='{{image}}' class="card-img-top" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{depute['depute']['nom_de_famille']}} {{depute['depute']['prenom']}}
                        </h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Groupe politique : {{depute['depute']['groupe_sigle']}}</li>
                            <li class="list-group-item">Parti politique : {{depute['depute']['parti_ratt_financier']}}
                            </li>
                            <li class="list-group-item">Profession : {{depute['depute']['profession']}}</li>
                            <li class="list-group-item">Département d’élection : {{depute['depute']['nom_circo']}}</li>
                            <li class="list-group-item">Temps de présence en semaine :
                                {{depute['depute']['semaines_presence']}}
                            </li>
                            <!-- semaine presences * 6 jours * 7heures par jours / semaines totales / jours -->
                            <li class="list-group-item">Présence heures par jour lissé sur l'année :
                                {{(depute['depute']['semaines_presence'] *
                                6 * 7 / 39 / 6)|round(1, 'floor')}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <div class="container">
        <div class="row my-3">
            <div class="col">
                <h3>Activités de présence / intervention à l’Assemblée Nationale</h3>

            </div>
            <div class="col">
                <h3>Activités en Commission parlementaire</h3>

            </div>
            <div class="col">
                <h3>Activités de production et amélioration des lois</h3>

            </div>
        </div>
    </div>



    <div class="row">
        <div class="col">

            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">présences détectées</th>
                        <td>{{depute['depute']['hemicycle_interventions'] +
                            depute['depute']['hemicycle_interventions_courtes']}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">participations</th>
                        <td>{{depute['depute']['hemicycle_interventions']}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Les questions orales </th>
                        <td>{{depute['depute']['questions_orales']}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Les questions écrites </th>
                        <td>{{depute['depute']['questions_ecrites']}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col">

            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">présences</th>
                        <td>{{depute['depute']['commission_presences']}}</td>
                    </tr>
                    <tr>
                        <th scope="row">interventions</th>
                        <td>{{depute['depute']['commission_interventions']}}</td>
                    </tr>
                    <tr>
                        <th scope="row">nombre de rapports écrits</th>
                        <td>{{depute['depute']['rapports']}}</td>
                    </tr>

                </tbody>
            </table>

        </div>
        <div class="col">

            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row"> Le nombre de propositions de lois écrites</th>
                        <td>{{depute['depute']['propositions_ecrites']}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Le nombre de propositions de lois signées</th>
                        <td>{{depute['depute']['propositions_signees']}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Le nombre d’amendements</th>
                        <td>{{depute['depute']['amendements_proposes'] + depute['depute']['amendements_signes'] +
                            depute['depute']['amendements_adoptes']}}</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>





    <h3 class="text-center m-3">Calculs heure par jours</h3>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody>
                        {% set presence_an = ((depute['depute']['hemicycle_interventions'] +
                        depute['depute']['hemicycle_interventions_courtes']) * 7 /
                        depute['depute']['semaines_presence'])|round(1,
                        'floor') %}

                        <tr>
                            <th scope="row">Présence à l'assemblée Nationale h par semaine</th>
                            <td>{{presence_an}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Participations à l'assemblée Nationale h par semaine</th>
                            <td>{{(depute['depute']['hemicycle_interventions'] * 0.8 /
                                depute['depute']['semaines_presence'])|round(1,
                                'floor')}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Questions Orales à l'assemblée Nationale minute par semaine</th>
                            <td>{{(depute['depute']['questions_orales'] * 2 /
                                depute['depute']['semaines_presence'])|round(1, 'floor')}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Questions Ecrites à l'assemblée Nationale minutes par semaine</th>
                            <td>{{(depute['depute']['questions_ecrites'] * 2 /
                                depute['depute']['semaines_presence'])|round(1,
                                'floor')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Présences en Commission h par semaine</th>
                            <!-- presence commission * 3.5 / presence totale  -->
                            <td>{{(depute['depute']['commission_presences'] * 3.5 /
                                depute['depute']['semaines_presence'])|round(1,
                                'floor')}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Interventions en Commission minutes par semaine</th>
                            <td>{{(depute['depute']['commission_interventions'] * 5 /
                                depute['depute']['semaines_presence'])|round(1,
                                'floor')}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Rapports en Commission heures par semaine</th>
                            <td>{{(depute['depute']['rapports'] * 3 / depute['depute']['semaines_presence'])|round(1,
                                'floor')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Proposition de lois écrites h par semaine</th>
                            <td>{{(depute['depute']['propositions_ecrites'] * 3 /
                                depute['depute']['semaines_presence'])|round(1,
                                'floor')}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Proposition de lois signées par semaine</th>
                            <td>{{(depute['depute']['propositions_signees'] * 2 /
                                depute['depute']['semaines_presence'])|round(1,
                                'floor')}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Amendements minutes par semaine</th>
                            <td>{{(depute['depute']['rapports'] * 20 / depute['depute']['semaines_presence'])|round(1,
                                'floor')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    {% endif %}
    {% endfor %}

    <section class="m-5">

        <h3>Présence en commission les 3 derniers mois</h3>

        <img src="data:image/png;base64, {{ plot_url }}">

    </section>

</div>

{% endblock%}