{% extends 'layout/app.html'%}

{% block body %}

{% for depute in deputes %}

{% if depute['depute']['id'] == depute_selected %}


<div class="card text-center m-3">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-sm-4 col-md-3 p-2-md-4 image-placement">
                <img src='{{image}}' class="card-img-top" alt="...">
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">{{depute['depute']['nom_de_famille']}} {{depute['depute']['prenom']}}
                    </h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Groupe politique : {{depute['depute']['groupe_sigle']}}</li>
                        <li class="list-group-item">Parti politique : {{depute['depute']['parti_ratt_financier']}}
                        </li>
                        <li class="list-group-item">Profession : {{depute['depute']['profession']}}</li>
                        <li class="list-group-item">Département d’élection : {{depute['depute']['nom_circo']}}</li>
                        <li class="list-group-item">Temps de présence en semaine :
                            {{depute['depute']['semaines_presence']}}
                        </li>
                        <!-- semaine presences * 6 jours * 7heures par jours / semaines totales / jours -->
                        <li class="list-group-item">Présence heures par jour lissé sur l'année :
                            {{(depute['depute']['semaines_presence'] *
                            6 * 7 / 39 / 6)|round(1, 'floor')}}</li>
                    </ul>
                </div>
            </div>
        </div>


        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Activité AN</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Activité
                    Commissions</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                    role="tab" aria-controls="contact" aria-selected="false">Propositions et amendements</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">



                <table class="table" style="color: white;">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Data</th>
                            <th scope="col">Hypothèses</th>
                        </tr>
                    </thead>



                    <tbody>
                        <tr>
                            <th scope="row">présences détectées</th>
                            <td>{{depute['depute']['hemicycle_interventions'] +
                                depute['depute']['hemicycle_interventions_courtes']}}
                            </td>
                            {% set presence_an = ((depute['depute']['hemicycle_interventions'] +
                            depute['depute']['hemicycle_interventions_courtes']) * 7 /
                            depute['depute']['semaines_presence'])|round(1,
                            'floor') %}
                            <td>{{presence_an}} heure/semaine</td>
                        </tr>
                        <tr>
                            <th scope="row">participations</th>
                            <td>{{depute['depute']['hemicycle_interventions']}}</td>
                            <td>{{(depute['depute']['hemicycle_interventions'] * 0.8 /
                                depute['depute']['semaines_presence'])|round(1,
                                'floor')}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Les questions orales </th>
                            <td>{{depute['depute']['questions_orales']}}</td>
                            <td>{{(depute['depute']['questions_orales'] * 2 /
                                depute['depute']['semaines_presence'])|round(1, 'floor')}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Les questions écrites </th>
                            <td>{{depute['depute']['questions_ecrites']}}</td>
                            <td>{{(depute['depute']['questions_ecrites'] * 2 /
                                depute['depute']['semaines_presence'])|round(1,
                                'floor')}}
                            </td>

                        </tr>
                    </tbody>
                </table>


            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <table class="table" style="color: white;">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Data</th>
                            <th scope="col">Hypothèses</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">présences</th>
                            <td>{{depute['depute']['commission_presences']}}</td>
                            <!-- presence commission * 3.5 / presence totale  -->
                            <td>{{(depute['depute']['commission_presences'] * 3.5 /
                                depute['depute']['semaines_presence'])|round(1,
                                'floor')}}</td>
                        </tr>
                        <tr>
                            <th scope="row">interventions</th>
                            <td>{{depute['depute']['commission_interventions']}}</td>
                            <td>{{(depute['depute']['commission_interventions'] * 5 /
                                depute['depute']['semaines_presence'])|round(1,
                                'floor')}}</td>
                        </tr>
                        <tr>
                            <th scope="row">nombre de rapports écrits</th>
                            <td>{{depute['depute']['rapports']}}</td>
                            <td>{{(depute['depute']['rapports'] * 3 / depute['depute']['semaines_presence'])|round(1,
                                'floor')}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <table class="table" style="color: white;">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Data</th>
                            <th scope="col">Hypothèses</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"> Le nombre de propositions de lois écrites</th>
                            <td>{{depute['depute']['propositions_ecrites']}}</td>
                            <td>{{(depute['depute']['propositions_ecrites'] * 3 /
                                depute['depute']['semaines_presence'])|round(1,
                                'floor')}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Le nombre de propositions de lois signées</th>
                            <td>{{depute['depute']['propositions_signees']}}</td>
                            <td>{{(depute['depute']['propositions_signees'] * 2 /
                                depute['depute']['semaines_presence'])|round(1,
                                'floor')}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Le nombre d’amendements</th>
                            <td>{{depute['depute']['amendements_proposes'] + depute['depute']['amendements_signes'] +
                                depute['depute']['amendements_adoptes']}}</td>
                            <td>{{(depute['depute']['rapports'] * 20 / depute['depute']['semaines_presence'])|round(1,
                                'floor')}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

{% endif %}
{% endfor %}

<div class="container mt-4 ">

    <section class="footer-image">

        <h3>Présence en commission les 3 derniers mois</h3>

        <img src="data:image/png;base64, {{ plot_url }}">

    </section>

</div>

{% endblock%}